@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
.header {
    display: flex;
    padding: 30px 80px;
    justify-content: space-between;
    background-color: #FDF6DE;
}
.header p {
    color: #CCA003;
    font-weight: 700;
    font-size: 1.4rem;
}
.header-logo a {
    text-decoration: none;
}
.header span {
    color: black;
}
.pages {
    display: flex;
    gap: 30px;
}
.pages a {
    text-decoration: none;
    color: black;
}
.pages a:hover {
    color: #CCA003;
}
.hero-section {
    background-image: url("../imgs/Background.png");
    background-size: cover;
    background-color: #FDF6DE;
    height: 600px;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.hero-txt {
    color: white;
}
.hero-txt img {
    width: 50%;
}
.hero-txt p {
   font-size: 3rem;
   font-weight: 500;
}
.btn1 a {
    background-color: #CCA003;
    text-decoration: none;
    padding: 12px 20px;
    color: white;
    border-radius: 10px;
}
.btn1 {
    text-align: center;
    margin-top: 13px;
}
.card-sec {
    background-color: #FDF6DE;
    padding: 30px 80px;
    color: black;
}
.maincrd-txt {
    display: flex;
    justify-content: space-between;
}
.crd-left p {
    font-size: 1.6rem;
    font-weight: 600;
}

.crd-left img {
    width: 40%;
    margin-top: 10px;
}
.btn34 a {
    text-decoration: none;
    color: black;
}
.card1 {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 1px 2px 10px rgb(210, 210, 210);
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 50px 0px;
}
.card1 p {
    padding-top: 30px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}
.card1 a  {
    text-decoration: none;
    color: black;
}
.card1 img {
    width: 100%;
}
.sec3 {
    padding: 30px 80px;
    background-color: #FDF6DE;
    display: flex;
    gap: 100px;
    align-items: center;
}
.sec3-txt h3 {
    font-size: 4rem;
    line-height: 4.5rem;
}
.sec3-txt p {
    font-size: 1.1rem;
    padding: 50px 10px;
    
}
.btn43 {
    background-color: #CCA003;
    padding: 15px 33px;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 10px;
}
.newsec2 {
    background-image: url("../imgs/Group\ 10.png");
    margin: 0px 80px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    border-radius: 30px;
    background-color: #FDF6DE;
}
.textnew1 {
    width: 30%;
    padding: 50px;
    color: white;
}
.textnew1 p {
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 30px;
}
.anbtn {
    text-align: left;
}
.footer {
    background-color: #CCA003;
    padding: 150px 80px 40px 80px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.ultext li {
    list-style: none;
    padding-top: 15px;
}
.newsec2 {
    transform: translateY(100px);
}
.ft1 img {
    margin-top: 20px;
    width: 100%;
}

@media (max-width: 700px) {
    .header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .pages {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 20px;
    }
    .hero-txt p {
        font-size: 30px;
    }
    .crd-left p {
        font-size: 18px;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .sec3 {
        display: flex;
        flex-direction: column;
    }
    .sec-imgh img {
        width: 100%;
    }
    .sec3-txt h3 {
        font-size: 25px;
        line-height: 35px;
    }
    .sec3-txt p {
        font-size: 15px;
        padding: 10px;
    }
    .sec3-txt {
        text-align: center;
    }
    .textnew1 p {
        font-size: 19px;
    }
    .textnew1 {
        width: 70%;
    }
    .anbtn a {
        font-size: 12px;
    }
    .newsec2 {
        height: 250px;
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    
    .ft1 img {
        width: 150px;
    }
    
}
@media (min-width: 700px) and (max-width: 1140px) {
    .sec3 {
        display: flex;
        flex-direction: column;
    }
    .sec3-txt {
        text-align: center;
    }
    .sec3-txt h3 {
        font-size: 27px;
    }
    .sec3-txt p {
        font-size: 17px;
        padding: 10px;
    }
    .textnew1 p {
        font-size: 28px;
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .ft1 img {
        width: 150px;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
} 