@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
.header {
    display: flex;
    padding: 30px 80px;
    justify-content: space-between;
    background-color: #FDF6DE;
}
.header-logo a {
    text-decoration: none;
}
.header p {
    color: #CCA003;
    font-weight: 700;
    font-size: 22px;
}
.header span {
    color: black;
}
.pages {
    display: flex;
    gap: 30px;
}
.pages a {
    text-decoration: none;
    color: black;
}
.pages a:hover {
    color: #CCA003;
}
.section21 img {
    width: 100%;
    height: 400px;
}
.product-sec {
    padding: 30px 80px;
}
.product-sec .sel1 {
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.card2 {
    background-color: #FDF6DE;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 1px 1px 5px rgb(217, 217, 217);
}
.card2 img {
    height: 300px;
}
.card2 p {
    font-size: 14px;
}
.prdt-crd {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.footer {
    background-color: #CCA003;
    padding: 40px 80px 40px 80px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.ultext li {
    list-style: none;
    padding-top: 15px;
}
.ft1 img {
    margin-top: 20px;
    width: 162px;
    height: 112px;
}
@media (max-width: 650px) {
    .header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .pages {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 20px;
    }
    .section21 img {
        height: 250px;
    }
    .prdt-crd {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .card2 img {
        height: 200px;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
    .ft1 {
        padding: 20px;
    }
    .ft1 img {
        width: 70%;
        height: 60%;
    }
}